<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/demo">Demo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/players">Joueurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/playerform">Ajouter un joueur</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/teams">Equipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/teamformbis">Ajouter une équipe</a>
    </li>
  </ul>
</nav>
