{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<form method="post">
  <div class="">
    <label for="name">Nom</label>
    <input type="text" name="name">
  </div>
  <div class="">
    <label for="num">Numéro</label>
    <input type="text" name="num">
  </div>
  <div class="">
    <label for="substitute">Remplaçant</label>
    <input type="checkbox" name="substitute">
  </div>
  <div class="">
    <label for="photo">Photo</label>
    <input type="text" name="photo">
  </div>
  <div class="">
    <input type="submit" name="submit" value="Enregistrer">
  </div>
</form>
{% endblock %}
